@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(fonts/Montserrat-SemiBold.ttf) format('truetype');
}

#root {
  background-color: #f6f6f6;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.navbar-padding {
  padding-top: 82.5px;
}

.navbar-padding.with-bar {
  padding-top: 92.5px;
}

@media only screen and (max-width: 991px) {
  .navbar-padding.with-bar {
    padding-top: 82.5px;
  }
}